body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.header {
  background: #222;
  color: #fff;
  padding: 20px 0;
}
.carousel {
  position:relative;
  max-width: 300px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
}

.slide {
  display: none;
  width: 100%;
}


.slide.active {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background: rgba(0,0,0,0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.logo {
  margin: 0;
}

.nav a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
#sobre.section{
  color: #fff;
}
#preco.section{
   color: #fff;
}

.hero {
  background: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  
}

.btn {
  background: #222;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.section {
  padding: 60px 20px;
  
}

.section.alt {
  background: #f9f9f9;
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

form input, form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}